*{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat';
}

header{
	position: absolute;
	top: 0%;
	z-index: 1;
	width: 100%;
	height: 5%;
	max-height: 70px;
}

nav{
	height: 100%;
	display: flex;
	font-family: 'Montserrat';
}

nav > button{
	flex: 1;
	border: 0;
	background-color: #FFCF8B;
	color: black;
}

button:focus{
	outline: 0;
}

/*CSS for my homepage*/
.homepage{
	height: 100vh;
	background-image: url("./img/bg1.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.message{
	display: flex;
	flex-direction: column;
	gap: 10px;
	color: #FFC16A;
	font-size: 18px;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, .65);
}

.intro{
	width: 70%;
	text-align: center;
	line-height: 28px;
	padding: 10px;
	border-bottom: 2px solid antiquewhite;
}

.intro > h3{
	font-size: 42px;
	font-family: 'Cormorant Garamond';
	font-weight: 600;
	font-style: italic;
}

.motto{
	font-size: 12px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.motto > button{
	align-self: center;
	text-align: center;
	height: 30px;
	width: 40%;
	border: none;
	border-radius: 5px;
	background: #FFC16A;
}
/*CSS for the Menu page*/

#menupage{
	position: absolute;
	top: 3%;
	height: 100vh;
	width: 100%;
	color: antiquewhite;
	background: black;
	padding: 20px 0 10px;
	overflow-y: auto;
	overflow-x: hidden;
}

#menupage *{
	font-family: 'Lora';
	font-style: italic;
}

#menupage h3{
	font-style: normal;
	border-bottom: 5px;
}

/* CSS for the recommendations in Menu page*/
.recommendations{
	color: antiquewhite;
	padding: 10px;
	margin-bottom: 15px;
}

.recommendations h3{
	font-weight: 700;
}

.recommendations > .display{
	display: flex;
	overflow-x: auto;
	gap: 20px;
	padding: 10px 10px;
}

.recommendations .dish{
	border: 2px solid #FFCF8B;
	min-width: 25%;
	height: 18vh;
	border-radius: 10px;
}
.recommendations img{
	width: 100%;
	height: 60%;
	border-radius: 10px 10px 0 0;
}

.recommendations .food-info{
	display: flex;
	flex-direction: column;
	gap: 3px;
	padding: 0 5px 5px;
	font-size: 15px;
	font-weight: 400;
	font-style: italic;
}


/*CSS for main menu in menu display*/

.main-menu{
	padding: 10px;
}

.main-menu .heading{
	display: flex;
	align-items: center;
	justify-content: center;
	position: sticky;
	top: -10px;
	font-size: 22px;
	text-align: center;
	background: rgba(0, 0, 0, .7);
	padding: 7px;
}

.main-menu .heading:before,
.main-menu .heading:after{
	content: "";
	flex: 1;
	border-bottom: 1px solid #FFC16A;
	margin: 0 10px;
}

.main-menu .display{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 175px;
	gap: 30px;
	padding: 10px 10px 60px;
}

.main-menu img{
	width: 100%;
	height: 67%;
	border-radius: 10px 10px 0 0;
}

.main-menu .food-info{
	display: flex;
	flex-direction: column;
	gap: 3px;
	padding: 0 10px;
	font-size: 16px;
	font-weight: 400;
}
.main-menu .food-name{
	font-size: 20px;
	font-weight: 600;
}
.main-menu .dish{
	border: 2px solid #FFCF8B;
	min-width: 25%;
	min-height: 10%;
	border-radius: 10px;
}


/* CSS about Contact page*/
.contact{
	display: flex;
	justify-content: center;
	align-items: center;
	color: antiquewhite;
	background: black;
	height: 100vh;
}

.contact > .personal-details{
	display: flex;
	flex-direction: column;
	gap: 20px;
	border: 2px solid #FFCF8B;
	border-radius: 20px;
	height: 70%;
	padding: 10px;
}

.head{
	align-self: center;
}