body{
	margin: 0;
}

header{
	position: absolute;
	top: 0%;
	z-index: 1;
	width: 100%;
	height: 5%;
}
nav{
	height: 100%;
	display: flex;
}
nav > button{
	flex: 1;
	border: 0;
	
}

.homepage{
	height: 100vh;
	background-image: url("./img/bg1.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
}