*{
	margin: 0;
	padding: 0;
}

header{
	position: absolute;
	top: 0%;
	z-index: 1;
	width: 100%;
	height: 5%;
}
nav{
	height: 100%;
	display: flex;
	/*background-color: black;
	padding: 5px;*/
}
nav > button{
	flex: 1;
	border: 0;
	background-color: #FFCF8B;
	color: black;
	/*margin: 0 5px;
	border-bottom: 2px solid white;*/
}

button:focus{
	outline: 0;
}

/*CSS for my homepage*/
.homepage{
	height: 100vh;
	background-image: url("./img/bg1.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.message{
	display: flex;
	flex-direction: column;
	gap: 10px;
	color: #FFC16A;
	font-size: 18px;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, .7);
}

.intro{
	width: 50%;
	text-align: center;
	line-height: 25px;
	padding: 10px;
	border-bottom: 2px solid antiquewhite;

}

.motto{
	font-size: 12px;
}

.extra{
	position: absolute;
	height: 0%;
	bottom: 0;
	display: flex;
	gap: 15px;
	padding: 15px;
	font-size: 12px;
}
.info{
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.info > .img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: white;
}

/*CSS for the Menu page*/

#menupage{
	position: absolute;
	top: 5%;
	height: 100vh;
	color: antiquewhite;
	background: black;
	padding: 20px 10px 10px;
	overflow-y: auto;
}
/* CSS for the recommendations in Menu page*/
.recommendations{
	color: antiquewhite;
	margin-bottom: 20px;

}

.recommendations > .h3{
	margin: 15px;
}
.recommendations > .display{
	display: flex;
	overflow-x: auto;
	gap: 20px;
	padding: 10px 10px;
}

.recommendations .dish{
	border: 2px solid #FFCF8B;
	min-width: 25%;
	min-height: 10%;
	border-radius: 10px;
}
.recommendations img{
	width: 100%;
	height: 60%;
	border-radius: 10px 10px 0 0;
}

.recommendations .food-info{
	padding: 5px;
	font-size: 14px;
	font-weight: 400;
}


/*CSS for main menu in menu display*/

.main-menu > h3{
	position: sticky;
	top: -3%;
	font-size: 24px;
	text-align: center;
	background: rgba(0, 0, 0, .7);
	padding: 7px;
}
.main-menu > .display{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 175px;
	gap: 30px;
	padding: 10px;
}

.main-menu img{
	width: 100%;
	height: 70%;
	border-radius: 10px 10px 0 0;
}

.main-menu .food-info{
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 0 8px;
	font-size: 18px;
	font-weight: 600;
}

.main-menu .dish{
	border: 2px solid #FFCF8B;
	min-width: 25%;
	min-height: 10%;
	border-radius: 10px;
}
